<% provide(:title, "About") %>
<h1>About this website</h1>
<p>
    This website is part of individual project for <a href="https://csc324-326.sites.grinnell.edu/">CSC-324</a> written by Xinya Yang.
</p>