<% provide(:title, "Home") %>
<div class="center jumbotron">
<h1>A moral sampling and model for COVID-19</h1>
<p>
    In this website you can browse through a variety of dilemma taken place
    during the <a href=https://en.wikipedia.org/wiki/2019-nCoV_acute_respiratory_disease>COVID-19</a> epidemic and make decisions. Your input will be
    recorded as an entry for the whole database to model the HUMAN's choice. 
</p>
  <%= link_to "Sign up now!", '#', class: "btn btn-lg btn-primary" %>
</div>
