<footer class="footer">
  <small>
    <a href="https://github.com/XinyaYang0506">Xinya Yang</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
    </ul>
  </nav>
</footer>